<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blackcoffer_neelanshi">

    <application
        android:allowBackup="true"
        android:excludeFromRecents="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ViewController.Patient.Appointment.BookAppointmentActivity"
            android:label="Doctors near you"
            android:parentActivityName=".ViewController.Patient.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ViewController.Patient.Alarm.AddActivity"
            android:label="Add a medicine"
            android:parentActivityName=".ViewController.Patient.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewController.Patient.Alarm.AlertActivity"
            android:label="@string/title_activity_alert"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name=".Alertactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewController.AlertNotif"
            android:label="Notification" />
        <activity
            android:name=".ViewController.NotificationView"
            android:label="Notification View"
            android:parentActivityName=".ViewController.Patient.Alarm.AlertActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewController.Patient.Alarm.AlertActivity" />
        </activity>
        <activity
            android:name=".ViewController.Patient.Alarm.PillBoxActivity"
            android:label="Pill Box"
            android:parentActivityName=".ViewController.Patient.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewController.Patient.Alarm.ScheduleActivity"
            android:label="Week at a Glance"
            android:parentActivityName=".ViewController.Patient.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewController.Patient.Alarm.EditActivity"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewController.Patient.ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".ViewController.Patient.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewController.Doctor.ProfileActivity_Doc"
            android:label="Profile"
            android:parentActivityName=".ViewController.Doctor.HomeActivity_Doc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewController.Patient.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewController.Doctor.HomeActivity_Doc"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewController.Login.Launcher"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewController.Login.LoginActivity"
            android:parentActivityName=".ViewController.Login.Launcher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewController.Login.SignupActivity"
            android:parentActivityName=".ViewController.Login.Launcher"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".Model.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".Model.GetAddressIntentService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>

        </service>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>