<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blackcoffer_neelanshi">

    <application
        android:allowBackup="true"
        android:excludeFromRecents="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ViewController.AddActivity"
            android:label="@string/title_activity_add"
            android:parentActivityName=".ViewController.MedActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewController.MedActivity" />
        </activity>
        <activity
            android:name=".ViewController.AlertActivity"
            android:label="@string/title_activity_alert"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name=".Alertactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewController.MedActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ViewController.PillBoxActivity"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name=".ViewController.ScheduleActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".ViewController.MedActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewController.MedActivity" />
        </activity>
        <activity
            android:name=".ViewController.EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>

        <activity
            android:name=".ViewController.Patient.ProfileActivity"/>

        <activity
            android:name=".ViewController.Doctor.ProfileActivity_Doc" />

        <activity
            android:name=".Model.Location.MapsActivity"
            android:label="@string/title_activity_maps" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity android:name=".Model.Add_a_med.RecordActivity" />

        <activity
            android:name=".ViewController.Patient.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ViewController.Doctor.HomeActivity_Doc"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".ViewController.Login.Launcher"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewController.Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ViewController.Login.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver android:name=".Model.Add_a_med.AlarmReceiver" />

        <service
            android:name=".Model.Location.GetAddressIntentService"
            android:exported="false" />
        <service
            android:name=".Model.Add_a_med.AlarmService"
            android:enabled="true"
            android:exported="true" />

    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>